<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hack - the room: an escape game</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
  <link href="/hacker.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Happy Birthday Corentin</a>
        <a class="btn btn-warning" href="/teams" style="margin-left:10em">Change Team</a>
        {{#if unlock}}
        <a class="btn btn-danger" href="/virus" style="margin-left:5em">Stop the virus</a>
        {{/if}}
      </div>
    </div>
  </nav>
  <div class="container">


    <h1>Hack the Room</h1>

    <div class="col-md-8">
      <div class="alert alert-success">
        <h1>{{team}} Team</h1>
        <h2>Enter the email</h2>
        <br>
        <p class="text-dander"> {{error}}</p>
        <form action="./email" method="POST">
        <div class="form-group {{#if has_error}}has-error{{/if}}">
          {{#if has_error}}
          <label class="control-label" for="inputError">Wrong email... Are you sure you have the right solution?</label>
          {{/if}}
          <input class="form-control" autocomplete="off" {{#if has_error}}has-error{{/if}}" name="email" type="text" value="{{email}}">
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
</div>
<div style="text-align:center; font-size:100px;position:absolute; bottom:0;width:100%;margin:0" class="alert alert-danger" id="timer"></div>
<script src="/jquery-3.3.1.min.js"></script>
<script src="/timer.js"></script>
</html>
