<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hack - the room: an escape game</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
  <link href="hacker.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Happy Birthday Corentin</a>
      </div>
    </div>
  </nav>
  <div class="container">

    <!-- Jumbotron -->
<h1>YOU WON!!!</h1>
<div class="col-md-8">
<iframe width="560" height="315" src="https://www.youtube.com/embed/-BY0TG27rCE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><div class="col-md-1">

</div>
<div style="display:none">
  <audio controls autoplay style="display:none">
<source src="/audio6.wav" type="audio/wav">
Your browser does not support the audio element.
</audio>
</div>
</html>
